/*
background-clip
padding-box;border-box;content-box;

*/

.box{
	width:640px;
	height:400px;
	margin:50px;
	color:#f00;
	border:40px;
	padding:40px;
	background-color:#ff0;

}
.box p{
	margin:20px 0px 0px 0px;
	float:left;
	font-family: tahoma;
}
.box h1{
	font size 55px;
	font-family: tahoma;
}