/*
background-origin:
padding-box; border-box;content-box;

*/


body{
	background-image:url("background_images/01_image.jpg");
	background-size: cover; 

}
.box
{
	width:800px;
	height: 380px;
	margin:150px auto;
	color:#ff0;
	border-radius: 20px;
	border: 5px dashed #ff0;
	background-color:rgba(0,0,0,.25);
	border:40px dotted #ff0;
	padding: 40px
	background-image:url("background_images/02_image.jpg");
    background-repeat: no-repeat;
    background-origin: border-box;
}

.box h1{
	font-size:55px;

}
.box p{
	font-size:30px;
}
