/*background-attachment:
fixed;,scroll;,local;
->fixed attribute means background image fixed
->scroll attribute basically moving image according to text.
*/

body{
	background-color:rgb(100,100,100);
	color:#ff0;
	background-image: url("background_images/03_image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

h1,p{
	margin:25px 300px;
	float:left;
	font-family:tahoma;

}

h1{
	font-size:70px;
}
p{
	font-size:30px;
}
