body{
	font-size:24px;
}
.main{
	margin:20px auto 0px auto;
	/*width:900px;container of size*/
	
	min-width: 200px;
	max-width: 960px;

}
.main img{
	width:100%;
}
.main article{
	width:100%;/* 100% means size of container*/
	padding:10px;
}