/*
font-style->italic/oblique this is the italic properties
font-weight->bold/bolder
->so range is define lighter-200 px ,normal-400px ,bold-700px and
bolder-900px
font-variant small-caps small-caps (means all letters capital letters but small size)
line-height ->line-height basically spaces or gap less and normal range 24px

Font Properties :Font is the only single line of the value
Font :style, variant,weight,size/line-height family;
*/



*{
	margin: 0;padding: 0;}
body{
   font-size: 24px;
   padding-left: 100px;
   
}

.wrapper{
	width:1024px;
	float:left;
}
img
{
	width:1024px;
	margin: 0px 5px;
	text-align: center;
	/*padding:5px 0px;*/
	border-top: 2px solid #555;
	border-bottom: 2px solid #555;
	padding-left: 40px;
}
p.logo{
	width:1004px;
	text-align: center;
	background-color:#555;
	color:#fff;
	padding:10px;
	font-size:50px;
	
	/*font-family: 'Newsreader', serif; */
}
p.heading{
	float:left;
	color:#555;
	width:1024px;
	padding-left: 100px;
	font-family: 'Palanquin Dark', sans-serif;

	/*oblique is force fully italic*/
}
p.para{
	width:1024px;
	float:left;
	font-family: 'Tillana', cursive;
}
p.para span{
	color:#555;

}

